*~
proj-deploy.php
Config.php
Config.uniq.php
page.xml
test.php
build/build.log
output
js20/controls
js20/core
js20/doc
js/extra
js/controls
js/core
js/common
js/controlsBS
js/map
build/templates/db/SQLFunctions.PGSQL.xsl
build/templates/db/SQL.PGSQL.xsl
build/templates/controllers/FileStoreSmall_Controller_php.xsl
build/templates/controllers/FileStorageSmall_Controller_js.xsl
build/templates/controllers/Controller_php.tmpl
build/templates/controllers/FileStoreSmall_Controller_js.xsl
build/templates/controllers/Controller_html_php.xsl
build/templates/controllers/Enum_Controller_php.xsl
build/templates/controllers/Controller_js.tmpl
build/templates/controllers/FileStorageSmall_Controller_php.xsl
build/templates/controllers/Enum_Controller_js.xsl
build/templates/controllers/Constant_Controller_php.xsl
build/templates/controllers/Constant_Controller_js.xsl
build/templates/controllers/Controller_js.xsl
build/templates/controllers/Controller_php.xsl
build/templates/functions/role_permissions.xsl
build/templates/doc/Doc_html.xsl
build/templates/models/Model_php.xsl
build/templates/models/MainMenu_Model_php.tmpl
build/templates/models/Model_php.tmpl
build/templates/models/MainMenu_Model_php.xsl
